.Home {
    padding: 20px 0;
}

.Home, .links, .Name {
    padding: 0 10%;
    /* font-family: Montserrat; */
    font-size: 20px;
    text-align: center;
    /* font-family: Asap; */
}

.Name {
 font-size: 60px;
 /* font-family: Karla; */
 /* font-family: Asap; */
 margin: 0 !important;
 margin-top: 100px !important;
 font-family: Hind;
}


.links {
    font: 25px;
    margin: 0 !important;

}

.links > a{
    padding: 0 10px;
    /* font-family: Fira Sans; */
}

